/* 
The CSS Reset by Josh Comeau 
https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* ----------------------------- */

/* GLOBAL VARIABLES DEFINITION */
:root {
  --h1-responsive: 10vw;
  --h2-responsive: 7vw;
  --main-margin: 5vw;
}

/* header */
/* ----------------------------- */
header {
background: linear-gradient(135deg,#ab9e8e 50%, white 50%);
}

.picture-container {
  position: relative;
  text-align: left;
  margin-left: 7vw;
  margin-right: 7vw;
  margin-bottom: 7vw;
  padding-top: 7vw;
}

.bottom-left {
  position: absolute;
  bottom: 3vw;
  padding-left: 7vw;
  color: white;
  text-shadow:
    1px 1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
  font-size: 13vw;
  line-height: normal;
}

.about-me h1 {
  text-align: center;
  font-size: var(--h1-responsive);
}

.about-me p {
  margin: var(--main-margin);
  font-size: 5vw;
}

.social-media-buttons {
  display: flex;
  gap: 1vw;
  justify-content: space-evenly;
}

#github-button img {
  min-width: 10vw;
}

#youtube-button img {
  min-width: 10vw;
}

/* main content of the homepage */
/* ----------------------------- */

main {
 margin-top: 17vw;
}

main h1{
  text-align: center;
  font-size: var(--h1-responsive);
}

.main-content{
  display: flex;
  flex-direction: column;
}

section{
 margin: var(--main-margin);
 padding-bottom: 10vw;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

section h2 {
  text-align: center;
  font-size: var(--h2-responsive);
  margin-left: 1vw;
  margin-right: 1vw;
}

section p {
  font-size: 4.5vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.project-title {
  display: flex;
  justify-content: space-between;
}

.project-icons {
  display: flex;
  gap: 1vw;
  padding: 1vw;
}

#maximize-image-button img {
  min-width: 10vw;
}