/* 
The CSS Reset by Josh Comeau 
https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* ----------------------------- */

/* GLOBAL VARIABLES DEFINITION */
:root {
  --h1-responsive: 10vw;
  --h2-responsive: 7vw;
  --h3-responsive: 5.8vw;
  --main-margin: 5vw;
  --background-color: #ab9e8e;
}

/* header */
/* ----------------------------- */
header {
  background: linear-gradient(135deg, var(--background-color) 50%, white 50%);
}

.picture-container {
  position: relative;
  text-align: left;
  margin-left: 7vw;
  margin-right: 7vw;
  margin-bottom: 7vw;
  padding-top: 7vw;
}

.bottom-left {
  position: absolute;
  bottom: 3vw;
  padding-left: 7vw;
  color: white;
  text-shadow:
    1px 1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
  font-size: 13vw;
  line-height: normal;
}

.about-me h1 {
  text-align: center;
  font-size: var(--h1-responsive);
}

.about-me p {
  margin: var(--main-margin);
  font-size: 5vw;
}

.social-media-buttons {
  display: flex;
  gap: 1vw;
  justify-content: space-evenly;
}

#github-button img {
  min-width: 10vw;
}

#youtube-button img {
  min-width: 10vw;
}

/* main content of the homepage */
/* ----------------------------- */

main {
  margin-top: 17vw;
}

main h1 {
  text-align: center;
  font-size: var(--h1-responsive);
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 5vw;
}

section {
  margin: var(--main-margin);
  padding-bottom: 10vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

section img {
  display: flex;
}

section h2 {
  text-align: center;
  font-size: var(--h2-responsive);
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 3vw;
}

section p {
  font-size: 4.5vw;
  margin-left: 3vw;
  margin-right: 3vw;
}

.project-title {
  display: flex;
  justify-content: space-between;
}

.project-icons {
  display: flex;
  gap: 1vw;
  padding: 3vw;
}

#maximize-image-button img {
  min-width: 10vw;
}

/* footer content of the homepage */
/* ----------------------------- */

footer {
  background-color: var(--background-color);
  margin-top: 15vw;
  padding-top: 8vw;
}

.contact-me h1 {
  text-align: center;
  font-size: var(--h1-responsive);
}

.contact-me h3 {
  font-size: var(--h3-responsive);
  margin: var(--main-margin);
}

.contact-me p {
  margin: var(--main-margin);
  font-size: 5vw;
}

.contact-me .social-media-buttons {
  padding-bottom: 8vw;
}

/* responsive adjustments desktop */
/* ----------------------------- */

@media (min-width: 1024px) {
  .main-content {
    display: grid;
  }
}
