/* 
The CSS Reset by Josh Comeau 
https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* ----------------------------- */

/* GLOBAL VARIABLES DEFINITION */
:root {
  --h1-responsive: 10vw;
}

/* ----------------------------- */
header {
background: linear-gradient(135deg, blue 50%, white 50%);
}

.picture-container {
  position: relative;
  text-align: center;
  margin: 7vw;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  color: white;
  text-shadow:
    1px 1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
  font-size: 13vw;
  line-height: normal;
}

.about-me h1 {
  text-align: center;
  font-size: var(--h1-responsive);
}

.about-me p {
  margin: 5vw;
  font-size: 5vw;
}

.social-media-buttons {
  display: flex;
  gap: 1vw;
  justify-content: space-evenly;
}
